<h1>Courses</h1>
<ng-container *ngIf="sesion$ | async as sesion">
  <div class="bnt-container" *ngIf="!(loading$ | async)">
    <button *ngIf="sesion.activeUser?.admin" class="add-btn" mat-flat-button color="accent" (click)="add()">
      Add course
    </button>
  </div>
</ng-container>
<div class="bnt-container">
  <div *ngIf="loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <div class="row" *ngIf="!(loading$ | async)">
    <div class="card-container col" *ngFor="let course of courses$ | async">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title class="card-title"> {{ course.name }}</mat-card-title>
        </mat-card-header>
        <img class="card-img" mat-card-image src={{course.img}} alt="card-img">
        <p>Teacher: {{ course.teacher.name }}</p>
        <p>Start: {{ course.startDate | date}}</p>
        <p>End: {{ course.endDate | date}}</p>
        <p>
          Registration: 
          <span [appBooleanStyle]="course.open">
            {{ course.open | booleanToText: 'Open': 'Closed'}} 
          </span>
        </p>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <ng-container *ngIf="sesion$ | async as sesion">
            <button *ngIf="sesion.activeUser?.admin" class="me-3" mat-flat-button color="accent" (click)="modify(course)">
              Edit
            </button>
            <button *ngIf="sesion.activeUser?.admin" mat-flat-button color="warn" (click)="remove(course)">
              Delete
            </button>
          </ng-container>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>


