.add-icon {
  color: #04bd04;
}

.edit-icon {
  color: #7fa4f5;
}

td,
th {
  text-align: center;
}

.list-title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 35px;
  margin-left: 150px;
}

table {
  margin-left: 150px;
}