<mat-toolbar class="toolbar">
  <img class="logo" src="https://angularjs.org/img/angularjs-for-header-only.svg" alt="logo" title="logo">
  <span class="example-spacer"></span>
  <ng-container *ngIf="sesion$ | async as sesion">
    <button routerLink="../auth/login" *ngIf="!sesion.activeUser" mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Login
    </button>
    <button routerLink="../auth/signup" mat-button aria-label="Example icon-button with share icon" *ngIf="!sesion.activeUser">
      Signup  
    </button>
    <button mat-button aria-label="Example icon-button with share icon" *ngIf="sesion.activeUser" (click)="logout()">
      Logout 
    </button>
  </ng-container>
</mat-toolbar>