<section class="auth-container m-5">
  <h1 class="title">Login</h1>
  <form class="form" [formGroup]="form" (submit)="login()">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="user" >
      <mat-error>Username required</mat-error>
    </mat-form-field>
    <mat-form-field class="mt-3" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="pass" type="password">
      <mat-error>Password required</mat-error>
    </mat-form-field>
    <br>
    <button type="submit" class="form-btn mt-4" mat-button color="accent" [disabled]="form.invalid">Login</button>
  </form>
  <div class="user-hint mt-5">
    <h3 class="hint-title">Default user list</h3>
    <p class="admin">Admin</p>
    <mat-icon class="admin-arrow">keyboard_arrow_right</mat-icon>
    <p class="admin-hint">
      user: admin <br>
      pass: admin
    </p>
    <p class="guest">Guest</p> 
    <mat-icon class="user-arrow">keyboard_arrow_right</mat-icon>
    <p class="guest-hint">
      user: user <br>
      pass: user
    </p>
  </div>
</section>
