<section class="auth-container m-5">
  <h1 class="title">Login</h1>
  <form class="form" [formGroup]="form" (submit)="login()">
    <mat-form-field appearance="fill">
      <mat-label>Username:</mat-label>
      <input matInput formControlName="user" >
      <mat-error>Username required</mat-error>
    </mat-form-field>
    <mat-form-field class="mt-3" appearance="fill">
      <mat-label>Password:</mat-label>
      <mat-error>Password required</mat-error>
      <input matInput formControlName="pass" [type]="hide ? 'password' : 'text'">
    </mat-form-field>
    <br>
    <mat-slide-toggle formControlName="admin">Admin</mat-slide-toggle>
    <button type="submit" class="form-btn mt-4" mat-button color="accent" [disabled]="form.invalid">Login</button>
  </form>
</section>
