<h1 class="list-title">Student List</h1>
<ng-container *ngIf="sesion$ | async as sesion">
  <div class="container-table">
    <table mat-table [dataSource]="datasource" >
        <!-- User -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef="" [appFontSize]="20">Username</th>
        <td mat-cell *matCellDef="let element">{{ element.user }}</td>
      </ng-container>
        <!-- Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef="" [appFontSize]="20">Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name | nameShower: element.lastname}}</td>
      </ng-container>
          <!-- Grade -->
      <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef="" [appFontSize]="20">Grade</th>
        <td mat-cell *matCellDef="let element" [appColorPicker]="element.grade">{{ element.grade }}</td>
      </ng-container>
          <!-- Grade -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef="" [appFontSize]="20">E-mail</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>
        <!-- Actions -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef="" [appFontSize]="20">Actions</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="!sesion.activeUser?.admin">-</span>
              <button *ngIf="sesion.activeUser?.admin" mat-icon-button color="success" (click)="add(element)">
                <mat-icon class="add-icon">add</mat-icon>
              </button>
              <button *ngIf="sesion.activeUser?.admin" mat-icon-button color="accent" (click)="modify(element)">
                <mat-icon class="edit-icon">edit</mat-icon>
              </button>
              <button *ngIf="sesion.activeUser?.admin" mat-icon-button color="warn" (click)="remove(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
        </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
  </div>
</ng-container>