.container {
  display: flex;
  flex-direction: column;
  background-color: #811b3d;
  margin: 0;
  padding: 0;
  min-height: 100%;
  max-width: none;
  overflow-x: hidden;
  position: relative;
}

.content-container {
  margin: 0;
  display: flex;
  color: #fff;
  position: relative;
  background-color: #353535;
}

.toolbar {
  height: 8vh;
}

.content {
  min-height: 92vh;
  width: 100vw;
  padding-top: 25px;
}

.mat-drawer-content {
  background-color: #811b3d;
}
