.container-table {
  height: 100%;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

.add-icon {
  color: #04bd04;
}

.edit-icon {
  color: #7fa4f5;
}

td,
th {
  text-align: center;
}

.list-title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 35px;
}

table {
  width: 150%;
  transform: translateX(-15%);
}

.filter-container {
  display: flex;
  margin: 25px 0;
  align-items: center;
  justify-content: space-between;
}

.add-btn {
  background-color: #2bac2b;
  color: #fff;
  margin: 0 auto;
  align-self: center;
  justify-self: flex-end;
}

.filter {
  width: 60%;
  align-self: center;
  justify-self: center;
}

.btn-container{
  width: max-content;
  transform: translateY(-11px);
}