<h1 mat-dialog-title class="modal-title">Add a new user</h1>
<div mat-dialog-content class="form-container">
  <form class="form row g-3" [formGroup]="form" (ngSubmit)="addUser()">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="user" >
      <mat-error>Username required</mat-error>
    </mat-form-field>
    <mat-form-field class="mt-3" appearance="fill">
      <mat-label>Password</mat-label>
      <input (input)="passCheck()" matInput formControlName="pass" type="password">
      <mat-error>Password required</mat-error>
    </mat-form-field>
    <mat-form-field class="mt-3" appearance="fill">
      <mat-label>Cormfirm password</mat-label>
      <input (input)="passCheck()" matInput formControlName="confirmpass" type="password">
      <mat-error *ngIf="this.form.controls['confirmpass'].hasError('required')">Required</mat-error>
      <mat-error *ngIf="this.form.controls['confirmpass'].invalid && !this.form.controls['confirmpass'].hasError('required')">Passwords don't match!</mat-error>
    </mat-form-field>
    <br>
    <button type="submit" class="form-btn mt-4" mat-button color="accent" [disabled]="form.invalid">Add User</button> 
  </form>
</div>