.modal-title {
  text-align: center;
  margin-top: 25px;
  font-size: 30px;
}

.form {
  width: 100%;
  margin: 0 auto; 
  text-align: center;
}

.form-container {
  margin: 20px 50px;
  width: 300px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.label  {
  width: fit-content;
}

input {
  width: 70%;
}

.btn-container {
  text-align: center;
}

.form-btn {
  background-color: #2bac2b;
  color: #fff;
  width: fit-content;
  margin: 0 auto;
}

.form-btn:disabled {
  background-color: #88be88;
}

.valid {
  color: rgb(31, 153, 31);
  margin: 0;
  font-weight: bolder;
}

.invalid {
  color: #cf0e0e;
  margin: 0;
  font-weight: bolder;
}

